<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/tambah" method="post" autocomplete="off" >
        <div class="container">
    <div class="Jual">
        <h3>Update harga Jual DL</h3>
        <input  type="text" name="jual">
        <h3>Update harga jual BGL</h3>
        <input type="text" name="jual_bgl">
    </div>
    <div class="beli">
        <h3>Update harga beli DL</h3>
        <input type="text" name="beli">
        <h3>Update haga beli BGL</h3>
        <input type="text" name="beli_bgl">
        <input type="submit">
    </div>
</div>
    </form>
</body>
</html>