<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylee.css">
  <title>admin</title>
</head>

<body>
  <div class="container">
    <!-- navbar -->
    <div class="wrapper">
      <div class="box">
        <div class="log">
          <h1>Pembelian</h1>
        </div>
        <a href="/jual">
          <div class="box-isi">
            <p>Produk</p>
          </div>
        </a>
        <a href="">
          <div class="box-isi">
            <p>Pembeli</p>
          </div>
        </a>
        <a href="">
          <div class="box-isi">
            <p>Status</p>
          </div>
        </a>
        <a href="">
          <div class="box-isi">
            <p>Pembayaran</p>
          </div>
        </a>
      </div>

      <!-- div wrapper -->
    </div>

    <!-- conten/isi -->
    <div class="content">
      <div class="navbar">
      <div class="slide" id="ev"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0,0,256,256"
        style="fill:#000000;">
        <g transform="translate(51.2,51.2) scale(0.6,0.6)"><g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M5,9v2h40v-2zM5,24v2h40v-2zM5,39v2h40v-2z"></path></g></g></g>
        </svg>
      </div>
      <nav  class="hidden" id="c">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Status</a></li>
      <li><a href="">History</a></li>
      <li><a href="">Prices</a></li>
    </ul>
  </nav>
    </div>
  </div>

  <script >
const Menu = document.getElementById("ev");
const Icons = document.getElementById("c");

Menu.addEventListener("click", () => {
    Icons.classList.toggle("hidden");
    if (!Icons.classList.contains("hidden")) {
        Icons.style.animation = "none"; // Reset animation
        void Icons.offsetWidth; // Trigger reflow
        Icons.style.animation = "fadeInDown 0.5s ease-in-out";
    } else {
        Icons.style.animation = "fadeOutUp 0.5s ease-in-out";
    }
});

</script>
</body>



</html>