<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/style.css">
   <title></title>
</head>

<body>
   <!-- header / atasan -->
   <div class="head">
      <div class="logo">
         <h1>ajistore</h1>
      </div>
      <button class="Kontak">Kontak</button>
   </div>
   <div class="conten">
      /div>
      <!-- body atau isi konten -->
      <div class="container">
         <!-- untuk isi pemilihan jual/beli -->
         <div class="c">
            <div class="dd">
               <div class="d">
                  <h1>Diamond lock</h1>
               </div>
               <div class="wrapp">
                  <div class="jual">
                     <h1>Jual</h1>
                  </div>
                  <div class="harga">
                     <h2>Rp. 5,000</h2>
                  </div>

                  <button class="btn">sell</button>
                  <div class="jual">
                     <h1>Beli</h1>
                  </div>
                  <div class="harga">
                     <h2>Rp. 5,500</h2>
                  </div>

                  <button class="btn">buy</button>
               </div>

            </div>
         </div>
      </div>
</body>

</html>