<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/style.css">

   <title></title>
</head>

<body>
   <!-- header / atasan -->
   <ul>
      <li><a href="#home">Cek invoice</a></li>
      <li><a class="active" href="#cara">Cara </a></li>
      <li class="logos"><a>
            <h4>AzyStore</h4>
         </a></li>
   </ul>

   <!-- body atau isi konten -->
   <div class="container">
      <div class="conten">
      </div>
      <!-- untuk isi pemilihan jual/beli -->
      <div class="c">
         <div class="dd">
            <div class="d">
               <h1>Diamond Lock</h1>
            </div>
            <% for (let user of users) {%>
               <div class="wrapp">
                  <div class="jual">
                     <h1>Jual</h1>
                  </div>
                  <div class="harga">
                     <h2><% const juals = parseFloat(user.jual) %>
                        Rp. <%= juals.toLocaleString()%>
                     </h2>
                  </div>

                  <a class="link" href="/jual"><div class="btn">
                    <h3>Jual</h3>
                  </div></a>
                  <div class="jual">
                     <h1>Beli</h1>
                  </div>
                  <div class="harga">
                     <h2><% const belis = parseFloat(user.beli) %>
                        Rp. <%= belis.toLocaleString()%>
                  </div>

                  <a class="link" href="/beli"><div class="btn">
                     <h3>Beli</h3>
                  </div></a>
               </div>
               <% } %>
         </div>
      </div>
      <!-- untuk isi pemilihan jual/beli blue gem lock-->
      <div class="cd">
         <div class="dd">
            <div class="d">
               <h1>Blue Gem Lock</h1>
            </div>
            <% for (let user of users) {%>
               <div class="wrapp">
                  <div class="jual">
                     <h1>Jual</h1>
                  </div>
                  <div class="harga">
                     <% const hargas = parseFloat(user.jual)* 100 %>
                     <h2>
                        Rp.<%= hargas.toLocaleString() %>
                        
                     </h2>
                  </div>

                  <a class="link" href="/jual"><div class="btn">
                     <h3>Jual</h3>
                   </div></a>
                  <div class="jual">
                     <h1>Beli</h1>
                  </div>
                  <div class="harga">
                     <h2><% const belis = parseFloat(user.beli) * 100 %>
                        Rp. <%= belis.toLocaleString()%>
                  </div>

                  <a class="link" href="/beli"><div class="btn">
                     <h3>beli</h3>
                   </div></a>
               </div>
               <% } %>
         </div>
      </div>
      <div class="ipsum" id="cara"><h1>Cara membeli di AzyStore</h1>
      <div class="syarat"></h1>

         <div class="cara"><h1> Pilih item DL/BGL</h1> <p> bgl itu (100dls), lalu isi <br> form pembelian/bayaran dan semuanya harus di isi. <br> Untuk menjual juga sama caranya.</p></div>
         <div class="cara"><h1> Masukan Info Penting</h1> <p>lalu di situ isi berapa pembelian, 
            metode<br> pembayaran, GrowID (penting), nama world , dan juga masukan <br> bukti pembayaran dengan ScreenShot.</p></div>
      </div>
   </div>
</div>


   </div>
   <div class="space"></div>
   <footer>
      <h4>COPYRIGHT BY AJI</h4>
   </footer>
</body>

</html>