<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styleLogin.css">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <div class="container">
            <form action="/login" method="post" autocomplete="off">
                <div class="user"><h1>AzyStore</h1></div>
                <div class="user"><input type="text" name="username" placeholder="masukan username">
                </div>
                <div class="user"><input type="password" name="password" placeholder="Masukan password"></div>
                <div class="user"><input class="btn" type="submit" value="Masuk"></div>
                <div class="user"><p>Lupa password?</p></div>
                
            </form>
        </div>
    </div>
</body>
</html>