body {
    background-color: #fdfdff;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.wrapper {
    background-color: #12223f;
    min-height: 100vh;
    width: 20%;
    
    left: 0;
    

}

.box {
    display: flex;
    
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}





.box a {
    
    text-decoration: none;
    display: flex;
    width: 55%;
    color: #fdfdff;
    cursor: pointer;
    text-align: center;
    padding-right:  50px;
    padding-left: 50px;
}

.navbar {
    display: none;
}

.log{
    background-color:#162a4e;
    text-decoration: none;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 2px ridge #1c3563 ;
    width: 100%;
}

.box a:hover{
    background-color: #ffffff3d;
    border-radius: 8px;
    display: block;
    color: #69c7fd;
    width: 55%;
    text-align: center;
}

.content {
    background-color: #00000f;
    min-height: 100vh;
    width: 80%;
    display: flex;
}



@media (max-width: 690px) {

   
.btn{
    display: block;
}

.navbar{
    display: flex;
    width: 100%;
    height: 10vh;
    margin: 7px;
    flex-direction: column;
}
.slide{
    display: block;
    justify-content: center;
    align-items: center;
    color: #fdfdff;
    
   
}


nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    animation: fadeInDown 0.5s ease-in-out;
    text-decoration: none;
    height: 10vh;
}
nav.hidden {
    display: none;
    animation: fadeOutUp 0.5s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}





nav ul {
    display: flex;
    flex-direction: row;
    margin: px;
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
}

nav a{
    color: floralwhite;
    gap: 20px;
    background-color: #6b6b6b;
    text-decoration: none;
    padding: 7px;
    border-radius: 4px;
}



    .wrapper {
        display: none;
    }    

    .content {
        width: 100%;
    }
}